section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1250px;
  grid-column-gap: 78px;
}

.gallery {
  text-align: center;
  max-width: 254px;
  display: grid;
  justify-items: center;
}
.gallery img {
  align-self: flex-end;
}
.gallery p {
  /* margin: 24px 0 80px; */
  height: 52px;
  margin-top: 24px;
}

@media screen and (max-width: 1024px) {
    section {
        grid-template-columns: 1fr 1fr;
        row-gap: 28px;
      }
}

@media screen and (max-width: 780px) {
  section {    
    column-gap: 16px;
  }
  .gallery img {
    width: 52px;
  }
  .gallery p {
    font-size: 14px;
    line-height: 24px;
    margin-top: 12px;
  }
}

@media screen and (max-width: 510px) {
    section {
        max-width: 342px;
    }
}
